.example-card 
{
    width: 500px;
    margin: 10% auto;
}
.mat-card-title
{
    font-size: 30px;
    margin-left: 104px;
    margin-top: 20px;
}
.example-full-width
{
    width:95%;      
}
.example-form
{
    margin-left: 35px; 
}
.mat-card-actions
 {
    margin-left: 180px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.mat-card>.mat-card-actions:last-child
{
    margin-bottom: 10px;
    padding-bottom: 0;
}
.mat-button.btn{
    margin-left: 170px;
}