<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-projectmodule">
              <h4 class="card-title">{{projectModuleHeader}}</h4>
              
            </div>
            <div class="card-body">
              <form [formGroup]="ProjectModuleForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input
                        formControlName="ModuleName"
                        matInput
                        placeholder="Module Name"
                        [ngClass]="{
                          'is-invalid': submitted && f.ModuleName.errors
                        }"
                      />
                      <mat-error
                        *ngIf="
                          submitted &&
                          f.ModuleName.errors &&
                          f.ModuleName.errors.required
                        "
                        >Module name is required</mat-error
                      >
                    </mat-form-field>
                  </div>

                 
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <mat-label>Client </mat-label>
                          <mat-select
                            (selectionChange)=" searchTerm$.next(dd())"
                            formControlName="ClientId"
                            [ngClass]="{
                              'is-invalid': submitted && f.ClientId.errors
                            }"
                          >
                            <mat-option
                              *ngFor="let CName of clientName"
                              [value]="CName.id"
                            >
                              {{ CName.name }}
                            </mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="
                              submitted &&
                              f.ClientId.errors &&
                              f.ClientId.errors.required
                            "
                            >Client Name is required</mat-error
                          >
                        </mat-form-field>
                      </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Project </mat-label>
                      <mat-select
                        formControlName="ProjectId"
                        [ngClass]="{
                          'is-invalid': submitted && f.ProjectId.errors
                        }"
                      >
                        <mat-option
                          *ngFor="let PName of projectName"
                          [value]="PName.id"
                        >
                          {{ PName.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          submitted &&
                          f.ProjectId.errors &&
                          f.ProjectId.errors.required
                        "
                        >Project Name is required</mat-error
                      >
                    </mat-form-field>
                  </div>     
                </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                      <mat-label>Status  </mat-label>
                      <mat-select
                        formControlName="StatusCtrl"
                        [ngClass]="{
                          'is-invalid': submitted && f.StatusName.errors
                        }"
                      >
                        <mat-option
                          *ngFor="let sName of StatusName"
                          [value]="sName.id"
                        >
                          {{ sName.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          submitted &&
                          f.Status.errors &&
                          f.Status.errors.required
                        "
                        >Status Name is required</mat-error
                      >
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input
                      (keydown)="numberOnly($event)"
                        formControlName="Hours"
                        matInput
                        placeholder="Enter Hours"
                        type="text"
                        numbersOnly
                        [ngClass]="{
                          'is-invalid': submitted && f.Hours.errors
                        }"
                      />
                      <mat-error
                        *ngIf="
                          submitted &&
                          f.Hours.errors &&
                          f.Hours.errors.required
                        "
                        >Hours is required</mat-error
                      >
                    </mat-form-field>
                </div>
              </div>
        
                <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <textarea 
                        formControlName="Description"
                        matInput
                        placeholder="Description"
                        [ngClass]="{
                            'is-invalid': submitted && f.Description.errors
                          }"
                        matInput 
                        placeholder="Ex. write detail here...(Optional)">
                    </textarea>
                    <mat-error
                          *ngIf="
                            submitted &&
                            f.Description.errors &&
                            f.Description.errors.required
                          "
                          >Description is required</mat-error>
                       
                      </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <input matInput [formControl]="StartDate"  [matDatepicker]="picker" placeholder="Start date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker ></mat-datepicker>
                      
                      </mat-form-field> 
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <input matInput [formControl]="EndDate" (dateInput)="onDate($event.value)" [matDatepicker]="picker1" placeholder="End date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="status==true">
                        
                      </mat-error>  
                      </mat-form-field> 
                        
                    </div>
                </div>
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-success pull-lef"
                 
                >
                  Save
                </button>
                <button
                  mat-button
                  mat-dialog-close
                  class="btn btn-danger pull-lef"
                 
                >
                  Cancel
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  