<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-emp">
            <h4 class="card-title">{{employeeHeader}}</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      type="text"
                      formControlName="Name"
                      matInput
                      placeholder="Employee name"
                      (keypress)="alphabate($event)"
                      [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
                    />
                    <mat-error
                      *ngIf="
                        submitted && f.Name.errors && f.Name.errors.required
                      "
                      >Name is required</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      type="text"
                      maxlength="10"
                      minlength="10"
                      formControlName="MobileNo"
                      matInput
                      placeholder="Mobile No"
                      (keypress)="mobileNo($event)"
                      [ngClass]="{ 'is-invalid': submitted && f.MobileNo.errors }"
                    />
                    <mat-error
                      *ngIf="
                        submitted && f.MobileNo.errors && f.MobileNo.errors.required
                      "
                      >Mobile Number is  required</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      type="text"
                      formControlName="EmailId"
                      matInput
                      placeholder="Email Id"
                     
                      [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }"
                    />
                    <mat-error
                      *ngIf="
                        submitted && f.EmailId.errors && f.EmailId.errors.required
                      "
                      >Name is required</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input
                      formControlName="Title"
                      matInput
                      placeholder="Title"
                      type="text"
                      (keypress)="alphabate($event)"
                      [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
                    />
                    <mat-error
                      *ngIf="
                        submitted && f.Title.errors && f.Title.errors.required
                      "
                      >Title is required</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Technology</mat-label>
                    <mat-select
                      formControlName="Technology"
                      [ngClass]="{
                        'is-invalid': submitted && f.Technology.errors
                      }"
                    >
                      <mat-option
                        *ngFor="let tech of Technology"
                        [value]="tech.id"
                      >
                        {{ tech.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        submitted &&
                        f.Technology.errors &&
                        f.Technology.errors.required
                      "
                      >Technolgy is required</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Location</mat-label>
                    <mat-select
                      formControlName="Location"
                      [ngClass]="{
                        'is-invalid': submitted && f.Location.errors
                      }"
                    >
                      <mat-option *ngFor="let loc of Location" [value]="loc.id">
                        {{ loc.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        submitted &&
                        f.Location.errors &&
                        f.Location.errors.required
                      "
                      >Location is required</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>

              

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Reporting Authority</mat-label>
                    <mat-select
                      formControlName="ReportingAuthority"
                      [ngClass]="{
                        'is-invalid': submitted && f.ReportingAuthority.errors
                      }"
                    >
                      <mat-option
                        *ngFor="let ename of employeeName"
                        [value]="ename.id"
                      >
                        {{ ename.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        submitted &&
                        f.ReportingAuthority.errors &&
                        f.ReportingAuthority.errors.required
                      "
                      >Employee Name is required</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Employee Role</mat-label>
                    <mat-select
                      formControlName="Role"
                      [ngClass]="{ 'is-invalid': submitted && f.Role.errors }"
                    >
                      <mat-option *ngFor="let rol of Role" [value]="rol.id">
                        {{ rol.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        submitted && f.Role.errors && f.Role.errors.required
                      "
                      >Role is required</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">            
               
                <div class="col-md-4">                 
                  <mat-form-field>
                    <input matInput [formControl] = "JoiningDate" [ngClass]="{ 'is-invalid': submitted && f.JoiningDate.errors }" [matDatepicker]="picker1" placeholder="Joining Date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error
                      *ngIf="
                        submitted && f.JoiningDate.errors && f.JoiningDate.errors.required
                      "
                      >Joining Date is required</mat-error > 
                  </mat-form-field>
                </div>
                <div class="col-md-4">                 
                  <mat-form-field>
                    <input matInput [formControl] = "DateofBirth" [ngClass]="{ 'is-invalid': submitted && f.DateofBirth.errors }"  [matDatepicker]="picker2" placeholder="Date Of Birth">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error
                      *ngIf="
                        submitted && f.DateofBirth.errors && f.DateofBirth.errors.required
                      "
                      >Date Of Birth is required</mat-error >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Status</mat-label>
                    <mat-select
                      formControlName="Status"
                      [ngClass]="{ 'is-invalid': submitted && f.Status.errors }"
                    >
                      <mat-option
                        *ngFor="let status of Status"
                        [value]="status.id"
                      >
                        {{ status.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        submitted && f.Status.errors && f.Status.errors.required
                      "
                      >Status is required</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>

              <button
                mat-raised-button
                type="submit"
                class="btn btn-success pull-lef"
                [disabled]="!employeeForm.valid || status "
              >
                Save
              </button>
              <button
                mat-button
                mat-dialog-close
                class="btn pull-lef"
                color="secondary" 
              >
                Cancel
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
