th[colspan="2"]
{
    text-align: center;
    cursor: pointer;
}
th
{
    
    cursor: pointer;
}
.table {
    width: -webkit-fill-available;
    margin-bottom: 1rem;
    color: #212529;
    overflow-x: scroll;
}body {
    overflow: hidden; /* Hide scrollbars */
  }