<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-emp">
              <h4 class="card-title">{{Header}}</h4>
              <!-- <p class="card-category">Complete Project Allocation Details</p> -->
            </div>
            <div class="card-body">
              <form [formGroup]="UserMasterCredential" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input
                          formControlName="UserName"
                          matInput
                          placeholder="UserName"
                          type="text"
                        
                          [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }"
                        />
                        <mat-error
                          *ngIf="
                            submitted && f.UserName.errors && f.UserName.errors.required
                          "
                          >UserName is required</mat-error
                        >
                      </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input
                          formControlName="Password"
                          matInput
                          placeholder="Password"
                          type="password"
                         
                          [ngClass]="{ 'is-invalid': submitted && f.Password.errors }"
                        />
                        <mat-error
                          *ngIf="
                            submitted && f.Password.errors && f.Password.errors.required
                          "
                          >Password is required</mat-error
                        >
                      </mat-form-field>
                  </div>
                 
                </div>
                
              
  
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-success pull-lef"
                >
                  Save
                </button>
                <button
                  mat-button
                  mat-dialog-close
                  class="btn  pull-lef"
                  color="secondary" 
                >
                  Cancel
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  